$font-stack-alata: 'Alata', sans-serif;
$font-stack-josefin: 'Josefin Sans', sans-serif;

$gray-color: hsl(0, 0%, 55%);
$darkgray-color: hsl(0, 0%, 41%);

$header-bg-image: "/images/desktop/image-hero.jpg";

$button-bg-gradient: "rgba(153,28,36, .5) 40%, rgba(231,155,238, .5) 60%";